* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier Prime', Courier, monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 22vh;
  background-color: #F15A24;
}

main {
  width: 100vw;
  height: 68vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

img {
  height: 12rem;
  width: 20rem;
}

h1 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 1.5%;
  border: 5px solid orange;
  border-radius: 20px;
  height: 16rem;
  width: 14rem;
}

.card h3 {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  margin-top: 1.8rem;
}

.card label {
  position: absolute;
  margin-top: 3.5rem;
}

.card button {
  padding: 8%;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  color: rgb(116, 88, 17);
  background-color: rgb(255, 196, 85);
  border: 2px solid rgb(182, 119, 0);
  border-radius: 15px;
}

.card button:hover {
  cursor: pointer;
}

.card button:active {
  border:2px solid rgb(255, 196, 85);
  background-color: rgb(192, 125, 1);
}

.card input {
  padding: 1%;
  border: 1px solid rgb(182, 119, 0);
  border-radius: 5px;
}

.card input::placeholder{
  color: rgb(107, 78, 5);
}

.card select {
  border: 1px solid rgb(182, 119, 0);
  border-radius: 5px;
  color: rgb(107, 78, 5);
}

.joke-space {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 196, 85);
  height: 17vh;
  width: 25vw;
  border: 3px solid rgb(182, 119, 0);
  border-radius: 15px;
}

p {
  font-size: 1rem;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  background-color: #F15A24;
}

footer span {
  font-size: 1.2rem;
}

footer a {
  color: rgb(255, 196, 89);
  text-decoration: none;
}